.rte-toolbar
  border-bottom: 2px solid #d0d0d0
  padding-bottom: .5rem
  button 
    background: none
    border: 0
    color: #777
    cursor: pointer
    font-size: 1rem
    padding: 5px 10px
    &:hover,
    &.is-active
      background: #f2f2fb
      color: #111
div[role="textbox"]
  border: 1px solid #d0d0d0
  min-height: 200px
  padding: 1rem
  ul
    list-style-type: disc
    list-style-position: inside
    padding-left: 15px
  ol
    list-style-type: decimal
    list-style-position: inside
    padding-left: 15px
  ul ul, ul ol
    list-style-type: lower-latin
    list-style-position: inside
    margin: 15px 0 15px
  ol ol, ul ol
    list-style-type: lower-latin
    list-style-position: inside
    margin-left: 15px 0 15px
  blockquote
    background: #f9f9fb
    border-left: 3px solid #d0d0d0
    font-style: italic
    padding: 8px 15px;
  h1, h2
    font-weight: 700
  h1
    font-size: 28px
    line-height: 32px
  h2
    font-size: 24px
    line-height: 28px
